<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>About</h1>
    <p>
      This is a sample app that is like Twitter. The app was built in Ruby on Rails 
      and contains user sign up, log in/log out, micro posting, ability to follow other 
      users.
    </p>
  </body>
</html>